.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Размытие фона */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.bank-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    left: 50%;
    padding: 20px;
    min-width: 500px;
    min-height: 500px;
}

.bank-modal-form {
    display: flex;
    flex-direction: column;
    padding: 3px;
    
}

.bank-modal-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  
  .bank-modal-row label {
    flex: 0 0 200px; /* фиксированная ширина метки */
    font-weight: 500;
  }
  
  .bank-modal-row input, select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }