html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%; 
    background-color: aliceblue;
    font-family: system-ui;
}

header {
    background-color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    box-shadow: 5px 5px 5px rgb(170, 159, 159);
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    margin-right: 5%;
    color: black;
}

.nav-panel {
    padding: 5px;
}


.trader-wallet {
    background-color: white;
    border-radius: 5%;
    width:fit-content;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(170, 159, 159);
    display: flex;
    position: relative;
    left: 30%;
    top: 100px;
}

.wallet-button {
    border: none;
    padding: 10px;
    border-radius: 10%;
}

.wallet-button {
    position: relative;
    margin-right: 10px;
    top: 20%;
}

.wallet-button:hover{
    background-color: grey;
    color: white;
    transition-duration: 0.5s;
}

.wallet-control {
    margin-left: 20px;
    position: relative;
}

.logout-button {
    border: none;
    padding: 10px;
    border-radius: 10%;
    position: relative;
    left: 20%;
    color: black;
    font-weight: bold;
}

.logout-button:hover {
    background-color: red;
    color: white;
    transition-duration: 0.5s;
}
/* Модальное окно под реквизиты */
.bank-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    left: 50%;
    padding: 20px;
    min-width: 500px;
    min-height: 500px;
}

.bank-modal-form {
    display: flex;
    flex-direction: column;
    padding: 3px;
    
}

.bank-modal-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  
  .bank-modal-row label {
    flex: 0 0 200px; /* фиксированная ширина метки */
    font-weight: 500;
  }
  
  .bank-modal-row input, select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  /* Стилизация табличек */
table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
table tbody tr:nth-child(even){
	background: #f3f3f3;
}
table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}

/* Стилизация формы логина */

.login-container {
    position: relative;
    left: 40%;
    top: 100px;
    width: 300px;
    padding: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.login-form input {
    padding: 5px;
}

.login-form button {
    padding: 10px;
    border: none;
}

.login-form button:hover {
    background-color: rgb(10, 139, 10);
    color: white;
    border: none;
    transition-duration: 0.5s;
}

/* Orders */

.orders-nav {
    position: relative;
    top: -10px;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(170, 159, 159);
}

.orders-nav button {
    border: none;
    padding: 8px;
    margin-right: 5%;
    font-size: medium;
    background-color: white;
}

.orders-nav button:hover {
    background-color: rgb(235, 230, 230);
    transition-duration: 0.5s;
}