html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%; 
    background-color: aliceblue;
    font-family: system-ui;
}

header {
    background-color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    box-shadow: 5px 5px 5px rgb(170, 159, 159);
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    margin-right: 5%;
    color: black;
}

.nav-panel {
    padding: 5px;
}


.trader-wallet {
    background-color: white;
    border-radius: 5%;
    width:fit-content;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(170, 159, 159);
    display: flex;
    position: relative;
    left: 30%;
    top: 100px;
}

.wallet-button {
    border: none;
    padding: 10px;
    border-radius: 10%;
}

.wallet-button {
    position: relative;
    margin-right: 10px;
    top: 20%;
}

.wallet-button:hover{
    background-color: grey;
    color: white;
    transition-duration: 0.5s;
}

.wallet-control {
    margin-left: 20px;
    position: relative;
}

.logout-button {
    border: none;
    padding: 10px;
    border-radius: 10%;
    position: relative;
    left: 20%;
    color: black;
    font-weight: bold;
}

.logout-button:hover {
    background-color: red;
    color: white;
    transition-duration: 0.5s;
}